{% load static %}
<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
</head>
<body>
    <div class="container">
        <h1>Admin Dashboard</h1>
        <a href='/' class="button" style="position: absolute; top: 20px; right: 20px;">Log Out</a>
        <!-- Accounts Section -->
        <div class="section">
            <h2>Accounts</h2>
            <h4>Account Creation</h4>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="create_account">
                <table class="section-table-class">
                    <tr>
                        <td><label for="firstName">First Name</label></td>
                        <td><input type="text" id="firstName" name="firstName" class="text-field" required></td>
                        <td><label for="lastName">Last Name</label></td>
                        <td><input type="text" id="lastName" name="lastName" class="text-field" required></td>
                    </tr>
                    <tr>
                        <td><label for="email">Email</label></td>
                        <td><input type="email" id="email" name="email" class="text-field" required></td>
                        <td><label for="role">Role</label></td>
                        <td>
                            <select name="role" id="role" class="select">
                                <option value="Instructor">Instructor</option>
                                <option value="TA">TA</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="password">Password</label></td>
                        <td><input type="text" id="password" name="password" class="text-field" required></td>
                        <td><label for="phoneNum">Phone #</label></td>
                        <td><input type="tel" id="phoneNum" name="phone" placeholder="000-000-0000" class="text-field" maxlength="10" required></td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center;">
                            <button type="submit" class="button" role="button">Create New Account</button>
                        </td>
                    </tr>
                </table>

            </form>
            <div>
                <h4>Manage Accounts</h4>
                <a href="/accounts" class="button">View All Accounts</a>
            </div>
        </div>

        <!-- Courses Section -->
        <div class="section">
            <h2>Courses</h2>
            <h4>Course Creation</h4>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="action" value="create_course">
                <table class="section-table-class">
                    <tr>
                        <td><label for="title">Title</label></td>
                        <td><input type="text" id="title" name="title" class="text-field" required></td>
                    </tr>
                    <tr>
                        <td><label for="semester">Term</label></td>
                        <td>
                            <select name="semester" id="semester" class="select" required>
                                <option value="Fall">Fall</option>
                                <option value="Spring">Spring</option>
                                <option value="Winter">Winter</option>
                                <option value="Summer">Summer</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td><label for="year">Year</label></td>
                        <td colspan="3">
                            <select name="year" id="year" class="select" required>
                                <option value="2025">2025</option>
                                <option value="2026">2026</option>
                                <option value="2027">2027</option>
                                <option value="2028">2028</option>
                                <option value="2029">2029</option>
                                <option value="2030">2030</option>
                                <option value="2031">2031</option>
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4" style="text-align: center;">
                            <button type="submit" class="button" role="button">Create New Course</button>
                        </td>
                    </tr>
                </table>
            </form>
            <div>
                <form method="POST">
                    <h4>Manage Courses</h4>
                <a href="/courses" class="button">View All Courses</a>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
